@font-face {
  font-family: 'Wellfleet';
  font-style: normal;
  font-weight: 400;
  src: local('Wellfleet'), local('Wellfleet-Regular'), url(/resources/wellfleet.woff) format('woff');
}

* {
	font: inherit;
}

input, button {
  outline: none;
}

body {
  margin: 20px;
  background-color: #006;
  font-family: sans-serif;
  line-height: 1;
}
h1 {
  color: #fff;
  font-family: 'Wellfleet', cursive;
  font-size: 200%;
  margin-left: 50px;
}
h1 a {
   color: #fff;
}
body > nav {
  float:right;
  margin-right: 50px;
  color: #fff;
  font-family: 'Wellfleet', cursive;
  font-size: 120%;
  margin-top: 15px;
}
body > nav a {
   color: #fff;
}
aside {
  font-family: cursive;
  font-size: 150%;
  color: #666;
}
main > *:not(h2), figure > *:not(figcaption) {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
main nav {
  margin: 0.5em;
}
p {
  line-height: 1.3em;
}
p, li, td.object {
  display: block;
}
h2 {
  background-color: #ccc;
  color: #000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom: solid 3px #000;
  font-family: 'Wellfleet', cursive;
  font-size: 30px;
  padding: 15px 20px 5px 20px;
  margin: 0;
  min-height: 40px;
}
h3 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #006;
  font-family: 'Wellfleet', cursive;
  font-size: 120%;
}
main {
  margin-top: 10px;
  border-radius: 30px;
  border: solid 3px #000;
  background-color: #eef;
  padding-bottom: 0.5em;
}
table.relation {
  border-collapse: collapse;
}
table.relation th {
  vertical-align: baseline;
  padding-right: 0.5em;
  text-align: left;
}
table.relation tr:not(:first-child)>th {
  visibility: hidden;
}
ul, ol {
  margin: 0;
  padding: 0;
}
li.relation, table.relation {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
a.predicate {
  color: #000;
  font-weight: bold;
}
code {
  font-family: monospace;
  white-space: pre;
}
pre {
  font-family: monospace;
  white-space: pre;
  border: solid 2px #666;
  background-color: #66c;
  color: #ccf;
  overflow-x: auto;
  padding: 0.5em;
  margin-bottom:1em;
  border-radius: 10px;
}
figcaption {
  padding: 5px 10px;
  font-family: 'Wellfleet', cursive;  
  font-size: 120%;
  font-weight:bold;
  border-bottom: solid 2px #666;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 0.5em;
  background-color: rgba(0,0,0,0.05);
}
figure > ul {
  margin-top: 0.5em;
}
.uri {
}
.classType {
  font-weight: normal;
  font-size: 60%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

figure { 
  border: solid 2px #666;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
}

figure { background-color: #fef; }
figure figure { background-color: #efe; }
figure figure figure { background-color: #ffe; }
figure figure figure figure { background-color: #fef; }
figure figure figure figure figure { background-color: #ffe; }
figure figure figure figure figure figure { background-color: #eef; }

.bookmarklet {
  padding: 5px 15px 2px 15px;
  background-color: #eee;    
  margin: 0px 15px;
   box-shadow:  1px  1px 5px #888888;
  color: #006;
  cursor: move;
  border-radius: 4px;
  display: inline-block;
  border: solid 1px #000;
}
.bookmarklet:hover {
  text-decoration: none;
}
.datatype {
  font-size: 60%;
}
.value-list {
  display: inline-block;
  vertical-align: top;
}
